<div class="container">
  <div class="avatar">
    <img
      src="https://www.svgrepo.com/show/498301/profile-circle.svg"
      alt="avatar"
    />
  </div>
  <div class="menus">
    <img
      src="https://raw.githubusercontent.com/pranali2004/whatsapp/e23b94bc583610f606edb136bfba76561295686f/src/main/sidenav/header/images/group.svg"
      alt="community"
    />
    <img
      src="https://raw.githubusercontent.com/pranali2004/whatsapp/e23b94bc583610f606edb136bfba76561295686f/src/main/sidenav/header/images/status.svg"
      alt="status"
    />
    <img
      src="https://raw.githubusercontent.com/pranali2004/whatsapp/e23b94bc583610f606edb136bfba76561295686f/src/main/sidenav/header/images/message.svg"
      alt="messages"
    />
    <img
      src="https://raw.githubusercontent.com/pranali2004/whatsapp/e23b94bc583610f606edb136bfba76561295686f/src/main/sidenav/header/images/menu.svg"
      alt="menu"
    />
  </div>
</div>
